
<div *ngIf='data'>
<h1>    Your information has been saved successfully! </h1>

<div>
    <h2> Project Details </h2>

    <ul>
        <li>Organization : data.organization</li>
        <li>Category : data.category</li>
        <li>Activity : data.activity</li>
        <li>Title : data.title</li>
    </ul>
    <!-- <ul>
        <li>Organization : {{data.organization]}</li>
        <li>Category : {{data.category]}</li>
        <li>Activity : {{data.activity]}</li>
        <li>Title : {{data.title]}</li>
    </ul> -->
</div>
</div>